{
  "extends": ["wesbos"],
  "rules": {
    //"max-len": ["warn", { "code": 120 }],
    "prefer-destructuring": 0,
    "one-var": 0,
    "camelcase": 0,
    "arrow-body-style": 0,
    "eqeqeq": 0,
    "no-plusplus": 0,
    "prettier/prettier": [
      "warn",
      {
        "trailingComma": "es5",
        "singleQuote": true,
        "printWidth": 108,
        //below line only for windows users facing CLRF and eslint/prettier error
        // non windows users feel free to delete it
        "endOfLine": "auto"
      }
    ]
  }
}
